.info {
    margin-top: 56px;
    &__item {
        margin: 16px 0;
        font-size: 18px;
    }
}
.search-w {
    margin-top: 56px;
}
.header {
    margin: 36px 0 0;
}
.result {
    margin-top: 24px;
}