.page {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 16px 16px 0;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    color: #2d2d2d;
    border: 1px solid #2d2d2d;
    cursor: pointer;
    &:hover {
        color: #ffffff;
        background-color: #2d2d2d;
    }
    &--active {
        color: #ffffff;
        background-color: #2d2d2d;
    }
}